NODE_ENV=development
OWNER=john@doe.com
PROJECT=my-project
SUB_PROJECT=my-sub-project
CDK_DEFAULT_ACCOUNT=123456789012
CDK_DEFAULT_REGION=us-east-1
VPC_ID=vpc-1234567890abcdef0
CERTIFICATE_ARN=arn:aws:acm:us-east-1:123456789012:certificate/12345678-1234-1234-1234-123456789012
SUBNET_NAME_PUBLIC_1B=PublicSubnet1B
SUBNET_ID_PUBLIC_1B=subnet-1234567890abcdef0
SUBNET_AZ_PUBLIC_1B=us-east-1b
SUBNET_NAME_PUBLIC_1C=PublicSubnet1C
SUBNET_ID_PUBLIC_1C=subnet-1234567890abcdef1
SUBNET_AZ_PUBLIC_1C=us-east-1c
SUBNET_NAME_PRIVATE_1B=PrivateSubnet1B
SUBNET_ID_PRIVATE_1B=subnet-1234567890abcdef2
SUBNET_AZ_PRIVATE_1B=us-east-1b
SUBNET_NAME_PRIVATE_1C=PrivateSubnet1C
SUBNET_ID_PRIVATE_1C=ubnet-1234567890abcdef2
SUBNET_AZ_PRIVATE_1C=us-east-1c


# This is a flag to indicate that the app is running in a CI environment.
CI=1
